body {
    min-width: 320px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
    background: linear-gradient(167.84deg, #FBFFFD 0%, #E5EFF5 99.19%);
    font-family: 'SFpro', Arial, sans-serif;
}